# VIM swapfiles
*.sw[po]

# venv files
venv/

# Python cache files
*.pyc
__pycache__

# Test outputs
output/*.xml

# Docker-compose isn't needed in container
docker-compose.yml

# Documentation
docs/
