# venv files
venv/

# Python cache files
*.pyc
__pycache__

# Test artifacts
.env
output/*.xml
.coverage
coverage.xml
.netrc
.conjurrc
*.key
*.crt
cleanup.log
/integrations_tests_runner.spec

# Build artifacts
build/
dist/
*.egg-info/
