# Keep this in sync with setup.py
nose2>=0.8.0
nose2[coverage_plugin]>=0.6.5
pylint>=2.3.1
PyInstaller>=3.4
PyYAML>=3.13
requests>=2.21.0
twine>=1.13.0

# https://github.com/kennethreitz/requests/issues/5065
urllib3>=1.24.2,<1.25
